
{{ form_start(form, {'attr': {'class': 'pure-form pure-form-aligned app-small' }}) }}
    <fieldset style="text-align: left; font-size: 1rem">
        <div class="pure-control-group" id="person_field">
            {{ form_label(form.person, 'Person'|trans({}, 'movement')) }}
            {{ form_widget(form.person, {'attr': {'data-completion': 'people'}}) }}
        </div>

        <div class="pure-control-group">
            {{ form_label(form.type, 'Type'|trans({}, 'movement')) }}
            {{ form_widget(form.type, {'attr': {'class': 'pure-input'}}) }}
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">{{ 'Add'|trans({}, 'movement') }}</button>
        </div>
    </fieldset>
{{ form_end(form) }}