<div id="result-template" hidden>
    <div class="app-block" hidden>
        <div class="app-block-title">{% trans from 'compare' %}provided_by{% endtrans %}</div>
        <div class="app-block-actions">
            <button class="pure-button pure-button-primary" onclick="search.final.addMissing(this.parentElement.parentElement)">{{ 'Add missing'|trans({}, 'compare') }}</button>
            <button class="pure-button" onclick="search.final.appendAll(this.parentElement.parentElement)">{{ 'Add all'|trans({}, 'compare') }}</button>
            <button class="pure-button" onclick="search.final.replaceAll(this.parentElement.parentElement)">{{ 'Replace all'|trans({}, 'compare') }}</button>
        </div>
        <div class="app-block-body">
            <table class="pure-table">
                <thead>
                <tr>
                    <td>{{ 'Field'|trans({}, 'compare') }}</td>
                    <td>{{ 'Value'|trans({}, 'compare') }}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="tpl-field"></td>
                    <td class="tpl-value"></td>
                    <td class="nowrap">
                        <button class="pure-button tpl-add" data-source data-destination data-type onclick="search.final.appendItem(this)">
                            <span class="rd-visible-md">{{ 'Add'|trans({}, 'compare') }}</span>
                            <span class="rd-hidden-md fa fa-plus"></span>
                        </button>
                        <button class="pure-button tpl-replace" data-source data-destination data-type onclick="search.final.replaceItem(this)">
                            <span class="rd-visible-md">{{ 'Replace'|trans({}, 'compare') }}</span>
                            <span class="rd-hidden-md fa fa-pencil-alt"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% macro final_field_template(field, value) %}
    {% spaceless %}
    <div class="pure-control-group pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1 pure-u-xl-1-2">
        <label {% if field is not empty %}for="{{ field|escape('html_attr') }}-final"{% endif %}>{% if field is not empty %}{{ field|trans({},'book_field') }}{% endif %}</label>
        <div class="app-input-button-group">
            <input type="text"{% if field is not empty %} id="{{ field|escape('html_attr') }}-final" name="{{ field|escape('html_attr') }}" {% if value is not empty %}value="{{ value|json_encode|escape('html_attr') }}"{% endif %}{% endif %}>
            <button class="pure-button app-button-warning" onclick="document.getElementById(this.getAttribute('data-field')).value = ''" {% if field is not empty %}data-field="{{ field|escape('html_attr') }}-final"{% endif %}>{{ 'Clear'|trans({}, 'compare') }}</button>
        </div>
    </div>
    {% endspaceless %}
{% endmacro %}
{% import _self as macros %}
<div id="field-template" hidden>
    {{ macros.final_field_template('', '') }}
</div>