{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Search Engine{% endblock %}

{% block page_content %}
    <div class="form-group row">
        <label class="col-form-label">Number of documents</label>
        <div class="form-widget">
            <strong class="form-control-plaintext">{{ indexInfo.documentCount }}</strong>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label">Number of terms</label>
        <div class="form-widget">
            <strong class="form-control-plaintext">{{ indexInfo.termsCount }}</strong>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label">Number of fields per document</label>
        <div class="form-widget">
            <strong class="form-control-plaintext">{{ indexInfo.fields|length }}</strong>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label">Index size of the search engine</label>
        <div class="form-widget">
            <strong class="form-control-plaintext">{{ "%.2F MB"|format(indexInfo.indexSize) }}</strong>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <label class="col-form-label">Number of suggestions</label>
        <div class="form-widget">
            <strong class="form-control-plaintext">{{ suggestions }}</strong>
        </div>
    </div>
        <div class="form-group row">
            <label class="col-form-label">Dirty suggestions</label>
            <div class="form-widget">
                <strong class="form-control-plaintext">{{ isSuggestionDirty ? 'Yes' : 'No' }}</strong>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    When you edit a book, suggestions are added but not removed. Overtime it can lead to suggestion that link to no book.
                </small>
            </div>
        </div>
{% endblock %}

{% block page_actions %}
    <a href="{{ path('admin_search_engine_reindex') }}" class="btn btn-danger">Reindex search engine</a>
    <a href="{{ path('admin_search_engine_reindex_suggestion') }}" class="btn btn-danger">Reindex suggestion</a>
{% endblock %}