{% extends 'base.html.twig' %}

{% block title %}{% trans with {"{count}": count} from 'book_list' %}Your books ({count}){% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/list.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/book.js') }}"></script>
    <script src="{{ asset('build/js/completion.js') }}"></script>
    <script>
        completion.addCompletion('book.author', {{ bookdata.authors|json_encode|raw }});
        completion.addCompletion('book.owner', {{ bookdata.owners|json_encode|raw }});
        completion.addCompletion('book.serie', {{ bookdata.series|json_encode|raw }});
        completion.addCompletion('book.publisher', {{ bookdata.publishers|json_encode|raw }});
        completion.addCompletion('book.illustrator', {{ bookdata.illustrators|json_encode|raw }});
        completion.addCompletion('book.translator', {{ bookdata.translators|json_encode|raw }});
        completion.addCompletion('book.genre', {{ bookdata.genres|json_encode|raw }});
        completion.addCompletion('book.edition', {{ bookdata.editions|json_encode|raw }});
        completion.addCompletion('book.editor', {{ bookdata.editors|json_encode|raw }});
        completion.addCompletion('book.format', {{ bookdata.formats|json_encode|raw }});
        completion.addCompletion('book.storage', {{ bookdata.storages|json_encode|raw }});

        completion.initInputs();

        trans.add('Search', '{{ 'Search'|trans({}, 'book_list') }}');
    </script>
{% endblock %}

{% block body %}
    <aside hidden>
        <form class="pure-form pure-form-aligned app-small" id="book-list-filter" onsubmit="return book.sendFilter(this, '{{ url('book-list') }}')" action="{{ path('book-filter', {'criteria': '.'}) }}">
            <fieldset>
                <div class="pure-g">
                {% spaceless %}
                {% for formElement in forms %}
                    <div class="pure-control-group pure-u-1 pure-u-lg-1-2">
                        <label for="{{ formElement }}">{{ formElement|trans({}, 'book_field') }}</label>
                        <input id="{{ formElement }}" name="{{ formElement }}" data-completion="book.{{ formElement }}" type="text" value="{{ filter[formElement]|default('') }}">
                    </div>
                {% endfor %}
                {% endspaceless %}
                <div class="centered pure-u-1">
                    <button class="pure-button" style="margin: 1ex" type="submit">{{ 'Search'|trans({}, 'book_list') }}</button>
                    <button class="pure-button app-button-warning" style="margin: 1ex" onclick="return book.displayList('{{ url('book-list') }}')">{{ 'Remove all'|trans({}, 'book_list') }}</button>
                </div>
                </div>
            </fieldset>
        </form>
    </aside>
    <section>
        <div class="fa-pull-right">
            <button class="pure-button" onclick="book.showFilter()">{{ 'Search'|trans({}, 'book_list') }}{% if filter|length > 0 %}<span class="app-label app-label-blue">{{ filter|length }}</span>{% endif %}</button>
        </div>
        <h1>{{ block('title') }}</h1>
        <div class="pure-u-1 -pure-u-md-3-5 -pure-u-lg-3-4">
            <table class="pure-table margin-full-width">
                <thead>
                    <tr>
                        <th class="rd-visible-md">{% trans from 'book_list' %}ISBN{% endtrans %}</th>
                        <th id="app-cover-th">{% trans from 'book_list' %}Cover{% endtrans %}</th>
                        <th>{% trans from 'book_list' %}Serie: Title{% endtrans %}</th>
                        <th>{% trans from 'book_list' %}Situation{% endtrans %}</th>
                        <th>{% trans from 'book_list' %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td class="rd-visible-md">{{ book.isbn(true) }} {{ book.ean|isbn(1, 15)|raw }}</td>
                        <td><img src="{{ book.cover|imagine_filter('list_thumbnail') }}" alt="{{ 'Cover for {isbn}'|trans({"{isbn}": book.isbn(true)}, 'book_list') }}" class="pure-img centered" /></td>
                        <td>{% if book.serie is not empty %}
                            {% trans with {'{serie}': book.serie, '{title}': book.title} from 'book_list' %}{serie}: {title}{% endtrans %}
                            {% else %}{% trans with {'{title}': book.title} from 'book_list' %}{title}{% endtrans %}{% endif %}
                        </td>
                        <td>{% if book.inMovement %}
                            <span class="app-label app-label-red">
                                {% if book.lastMovement.isLend %}{% trans from 'book_list' %}Lend To{% endtrans %}{% else %}{% trans from 'book_list' %}Borrow From{% endtrans %}{% endif %}
                            </span>
                            {{ book.lastMovement.person }}
                                {% else %}
                                <span class="app-label app-label-blue">{% trans from 'book_list' %}At Home{% endtrans %}</span>{{ book.storage }}
                        {%  endif %}</td>
                        <td><a href="{{ path('book_view', {'isbn': book.isbn}) }}" class="pure-button">
                                <span class="rd-visible-md">{% trans from 'book_list' %}Details{% endtrans %}</span>
                                <span class="rd-hidden-md fa fa-info"></span>
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <nav class="centered" style="padding: 1ex">
            {% include 'book/part/pagination.html.twig' with {'current': page, 'count': pageCount, 'route': pageUrl.name, 'params': pageUrl.params} %}
        </nav>
    </section>
{% endblock %}