{% import _self as utils %}
{% macro paginationLink(index, current, route, params) %}
    {% set params = params|merge({page: index}) %}
    <li class="pure-menu-item"><a class="pure-button app-small{% if index == current %} pure-button-primary pure-button-disabled{% endif %}" href="{{ path(route, params) }}">{{ index }}</a></li>
{% endmacro %}

{% macro paginationPath(index, route, params) %}
{% spaceless %}
        {% set params = params|merge({page: index}) %}
        {{  path(route, params) }}
{% endspaceless %}
{% endmacro %}

<div class="pure-menu pure-menu-horizontal"{% if count < 2 %} hidden{% endif %}>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-button prev{% if current <= 1 %} pure-button-disabled{% endif %}" href="{{ utils.paginationPath(current-1, route, params) }}">&#171;</a></li>
        {% if count < 10 %}
            {% for pageIdx in 1..count %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
        {% elseif current < 6 %}
            {% for pageIdx in range(1, current +1) %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
            <li class="pure-menu-item"><span class="pure-button app-small pure-button-disabled">...</span></li>
            {% for pageIdx in range(count -2, count) %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
        {% elseif current > count-5 %}
            {% for pageIdx in 1..3 %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
            <li class="pure-menu-item"><span class="pure-button app-small pure-button-disabled">...</span></li>
            {% for pageIdx in range(current-1, count) %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
        {% else %}
            {% for pageIdx in 1..3 %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
            <li class="pure-menu-item"><span class="pure-button app-small pure-button-disabled">...</span></li>
            {% for pageIdx in range(current-1, current+1) %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
            <li class="pure-menu-item"><span class="pure-button app-small pure-button-disabled">...</span></li>
            {% for pageIdx in range(count -2, count) %}
                {{ utils.paginationLink(pageIdx, current, route, params) }}
            {% endfor %}
        {% endif %}
        <li class="pure-menu-item"><a class="pure-button next{% if current >= count %} pure-button-disabled{% endif %}" href="{{ utils.paginationPath(current+1, route, params) }}">&#187;</a></li>
    </ul>
</div>